{% extends '_base.html' %}

{% block page_title %}
    حذف پست
{% endblock page_title %}

{% block content %}
    <div class="bg-gray-800 p-8 rounded-lg shadow-lg max-w-md mx-auto mt-12">
        <h1 class="text-2xl font-bold text-indigo-400 mb-4">آیا مطمئن هستید؟</h1>
        <p class="text-gray-300 mb-6">آیا مطمئن هستید که می‌خواهید پست "{{ post.title }}" را برای همیشه حذف کنید؟</p>
        <form method="post" class="flex justify-center space-x-4 space-x-reverse">
            {% csrf_token %}
            <button type="submit" class="bg-red-600 text-white py-2 px-4 rounded hover:bg-red-700 transition duration-300">حذف</button>
            <a href="/blog/{{ post.id }}/" class="bg-gray-600 text-white py-2 px-4 rounded hover:bg-gray-700 transition duration-300">لغو</a>
        </form>
    </div>
{% endblock content %}