<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block page_title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Vazir&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Vazir', sans-serif;
        }
    </style>
</head>

<body class="bg-gray-900 text-gray-100">
<header class="bg-gray-800 py-4">
    <nav class="container mx-auto flex justify-between items-center px-4">
        <a href="{% url 'post_list' %}" class="text-2xl font-bold text-indigo-400 hover:text-indigo-300">وبلاگ من</a>
        <ul class="flex space-x-6 space-x-reverse">
            <li><a href="{% url 'post_list' %}" class="hover:text-indigo-400 transition duration-300">صفحه اصلی</a></li>
            <li><a href="{% url 'post_list' %}" class="hover:text-indigo-400 transition duration-300">بلاگ</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'post_create' %}" class="hover:text-indigo-400 transition duration-300">ساخت پست
                    جدید</a></li>
                <li><a href="#" class="hover:text-indigo-400 transition duration-300">{{ user.username }}</a></li>
                <li>
                    <form action="{% url 'logout' %}" method="post" class="inline">
                        {% csrf_token %}
                        <button type="submit" class="hover:text-indigo-400 transition duration-300">خروج</button>
                    </form>
                </li>
            {% else %}
                <li><a href="{% url 'login' %}" class="hover:text-indigo-400 transition duration-300">ورود</a></li>
                <li><a href="/accounts/singup/" class="hover:text-indigo-400 transition duration-300">ثبت‌نام</a></li>
            {% endif %}
        </ul>
    </nav>
</header>

<main class="container mx-auto py-8">
    {% block content %}{% endblock %}
</main>

<footer class="bg-gray-800 py-4 mt-8">
    <div class="container mx-auto text-center">
        <p>ساخته شده با ❤️ توسط امیررضا نقابی</p>
    </div>
</footer>
</body>
</html>